<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TenantId" value="d23c853d-e6d7-46d4-b2b4-ab89382a9cf7"/>
    <add key="AppPrincipalId" value="d829c758-2bef-43df-a685-717089474509"/>
    <add key="SymmetricKey" value="FStnXT1QON84B5o38aEmFdlNhEnYtzJ91Gg/JH/Jxiw=" />
  </appSettings>
</configuration>