<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TenantId" value="16a88858-4384-44f0-9629-2d0263900406"/>
    <add key="AppPrincipalId" value="2829c758-2bef-1ae8-a685-717089474509"/>
    <add key="SymmetricKey" value="FStnXT1QON84B5o38aEmFdlNhEnYtzJ91Gg/JH/Jxiw=" />
  </appSettings>
</configuration>